/* style={{
    color: "black",
    position: "absolute",
    bottom: "0",
    boxSizing: "border-box",
    backgroundImage: "linear-gradient(to top, rgba(255,255,255,0.8), rgba(255,255,255,0))",
    width: "100%",
}} */

.card-text {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  box-sizing: border-box;
}

.card-text-dark {
  width: 100%;
  position: absolute;
  top: 10%;
  left: 15%;
  color: white;
  box-sizing: border-box;
}

.text {
  color: red;
}

.dark-card-img {
    filter: brightness(0.4);
}