@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

.searchbar {
  display: flex;
  align-items: center;
}

.expanded-input {
  box-sizing: border-box;
  min-height: 40px;
  width: 0;
  overflow: hidden;
  transition: none;
  margin-left: 0;
  border: none;
  outline: none;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: inherit;
  font-size: 15px;
}

.expanded-input-show {
  box-sizing: border-box;
  background-color: inherit;
  width: 150px; /* Adjust the width as needed */
  min-height: 40px;
  border: none; /* Add desired styles for the input field */
  border-radius: 999px;
  padding: 5px;
  padding-left: 15px;
  background-position: left center; /* Move the background image to the left */
  font-size: 15px;
  transition: 2s all ease;
}

/* Add any additional styles you need for the search icon inside the input */

.expanded-search-container-show {
  /* width: auto; */
  min-width: max-content;
  max-width: 200px;
  min-height: max-content;
  /* background-color: #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  /* transition: all 2s ease;  */
}

.expanded-search-container {
  /* width: auto; */
  min-width: max-content;
  max-width: 200px;
  min-height: max-content;
  /* background-color: #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  transition: all 2s ease;
  /* transition: none;  */
}

.search-icon:hover {
    cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #222;
  color: #fff;
  padding: 9px;
  border-radius: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  white-space: nowrap;
  z-index: 15000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-tooltip-trigger {
  position: relative;
}

.custom-tooltip-trigger:hover + .tooltip {
  display: block;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 15000;
  animation: tooltipFadeIn 0.2s ease-in-out 0.4s forwards;
}

@keyframes tooltipFadeIn {
  to {
    opacity: 1;
  }
}

.tooltip-key {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 3px;
  margin-right: 2px;
  font-weight: 400;
  font-size: 12px;
}

.suggestions-container-expanded {
  box-sizing: border-box;
  position: absolute;
  top: 48px;
  right: 110px;
  min-width: 288px;
  max-width: 300px;
  max-height: 200px;
  z-index: 10000000000;
  background-color: white;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 4px 0;
}

.suggestions-container {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  /* transition: all 0.1s ease-in-out; */
  border: none;
  position: absolute;
  top: 48px;
  right: 110px;
}

.suggestion {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #222;
  background-color: white;
  width: 100%;
  max-width: 300px;
  max-height: 20px;
  /* display: flex; */
  /* align-items: center; */
  padding: 6px 14px;
  /* border-bottom: 1px solid #ddd; */
  cursor: pointer;
  z-index: 100000000000;
}

.suggestion:hover {
  background-color: #eee;
}

.suggestion-outer:hover  .suggestion-blue {
  background-color: black;
}
