.expand-container {
  margin-left: 10px;
}

.expanded-options {
  margin-left: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  content: "";
  background-image: url(https://gist.githubusercontent.com/haki-user/722943fd6d2a2e4dc5ba3045cb164ae0/raw/236bc896893d869e0a1647ad97a6af718a503da8/expand-more-24-grey.svg);
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  padding-top: 5px;
  text-align: center;
  width: 20px;
  transform: rotate(-90deg);
  transition: "all .3s ease-in-out";
}

.toggle-box:checked + label:before {
  transform: rotate(0deg);
}
